
// ================
// Font
// ================
$font-base: 16px;
$raleway: "Raleway", sans-serif;
$opensans:"Open Sans", sans-serif;
$light: 300;
$reg: 400;
$bold: 700;
$black: 800;
// ================
// Color 
// ================

$colour-base : #f5f5f5;
$colour-text : #333;
$colour-shadow: lighten($colour-text, 40%);
$colour-accent: #ee6457;



// ================
// other
// ================

$sidebar: sidebar;


